<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.budong.model.interfaces.MemberDAO">
	<insert id="insertMember"
		parameterType="com.budong.model.dto.MemberDTO">
		insert into budong_member(mem_id, mem_pw, mem_name, mem_img, mem_region) values 
			(#{mem_id}, #{mem_pw}, #{mem_name}, #{mem_img}, #{mem_region})
	</insert> 
	
	<select id="checkId" resultType="int">
		select count(*) from budong_member where mem_id = #{mem_id}	
	</select> 
	
	
</mapper>